.bg-header{
	background-color: $grosc;
	color: $wh;
	border: 2px solid #ddd;
  padding: 13px 1rem;
 
	i{
		color: $amar;
  font-size: 2rem;  
	}
}

.collapsible-body {
  padding:20px;
  .question{
    margin: 10px 0px;
    border: 1px solid $amar;
    padding: 5px;
    color: $grosc;
    text-align:center;
    .small{
      color: $grosc;
    }
  }
}

.collapsible-header{
  font-size: 1.08rem;
  padding-top: 2%;
}
